/*@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap");
@import './css/fonts/linear-icons-font/style.css';
@import './css/fonts/fontawesome-free-5.12.1-web/css/all.min.css';
@font-face {
  font-family: "GT Walsheim thin";
  src: url("./assets/mw33WKBOaXb1pzgQcfonv4i9zI_MbPuvuUUOmCdYCT2XiqSjfiNm0tdwdnJCpoaSgxY9xA.woff2") format("woff2");
}
@font-face {
  font-family: "GT Walsheim normal";
  src: url("./assets/6kEeNyQwxT59TY7SpLEnehG2fc_JffQ4MlQWtnUrVJZ6BhWblBg9PtmXsK3GWG-sWLpL8s.woff2") format("woff2");
}
@font-face {
  font-family: "GT Walsheim bold";
  src: url("./assets/9yxOMHiOq1YW9lyV4OoKqGTdPeY_q9pHFbRH4iWO5c8-Xo-ajFluB1azG1CEmNTrl-UXYjU.woff2") format("woff2");
}
@font-face {
  font-family: "GT Walsheim extra";
  src: url("./assets/PcJ0yzAWulkYYny8J2s5H8Dg_FBksDYrb6bW0fYOLkIszb7Vx_QY78Gv4G47v4NwlG-Q.woff2") format("woff2");
}
.retro {
  font-family: "Press Start 2P", cursive !important;
}

/* typewriter */
@keyframes typed {
  /* string 1, char 1 */
  0%, 0.5424782609% {
    content: "C";
  }
  /* string 1, char 2 */
  0.5434782609%, 1.0859565217% {
    content: "CT";
  }
  /* string 1, char 3 */
  1.0869565217%, 15.5560652174% {
    content: "CTO";
  }
  /* string 1, char 4 */
  15.5570652174%, 15.8957391304% {
    content: "CT";
  }
  /* string 1, char 5 */
  15.8967391304%, 16.2354130435% {
    content: "C";
  }
  /* string 1, char 6 */
  16.2364130435%, 23.0288913043% {
    content: "";
  }
  /* string 2, char 1 */
  23.0298913043%, 23.5723695652% {
    content: "l";
  }
  /* string 2, char 2 */
  23.5733695652%, 24.1158478261% {
    content: "le";
  }
  /* string 2, char 3 */
  24.1168478261%, 24.659326087% {
    content: "lea";
  }
  /* string 2, char 4 */
  24.660326087%, 25.2028043478% {
    content: "lead";
  }
  /* string 2, char 5 */
  25.2038043478%, 25.7462826087% {
    content: "lead ";
  }
  /* string 2, char 6 */
  25.7472826087%, 26.2897608696% {
    content: "lead d";
  }
  /* string 2, char 7 */
  26.2907608696%, 26.8332391304% {
    content: "lead de";
  }
  /* string 2, char 8 */
  26.8342391304%, 27.3767173913% {
    content: "lead dev";
  }
  /* string 2, char 9 */
  27.3777173913%, 27.9201956522% {
    content: "lead deve";
  }
  /* string 2, char 10 */
  27.9211956522%, 28.463673913% {
    content: "lead devel";
  }
  /* string 2, char 11 */
  28.464673913%, 29.0071521739% {
    content: "lead develo";
  }
  /* string 2, char 12 */
  29.0081521739%, 29.5506304348% {
    content: "lead develop";
  }
  /* string 2, char 13 */
  29.5516304348%, 30.0941086957% {
    content: "lead develope";
  }
  /* string 2, char 14 */
  30.0951086957%, 44.5642173913% {
    content: "lead developer";
  }
  /* string 2, char 15 */
  44.5652173913%, 44.9038913043% {
    content: "lead develope";
  }
  /* string 2, char 16 */
  44.9048913043%, 45.2435652174% {
    content: "lead develop";
  }
  /* string 2, char 17 */
  45.2445652174%, 45.5832391304% {
    content: "lead develo";
  }
  /* string 2, char 18 */
  45.5842391304%, 45.9229130435% {
    content: "lead devel";
  }
  /* string 2, char 19 */
  45.9239130435%, 46.2625869565% {
    content: "lead deve";
  }
  /* string 2, char 20 */
  46.2635869565%, 46.6022608696% {
    content: "lead dev";
  }
  /* string 2, char 21 */
  46.6032608696%, 46.9419347826% {
    content: "lead de";
  }
  /* string 2, char 22 */
  46.9429347826%, 47.2816086957% {
    content: "lead d";
  }
  /* string 2, char 23 */
  47.2826086957%, 47.6212826087% {
    content: "lead ";
  }
  /* string 2, char 24 */
  47.6222826087%, 47.9609565217% {
    content: "lead";
  }
  /* string 2, char 25 */
  47.9619565217%, 48.3006304348% {
    content: "lea";
  }
  /* string 2, char 26 */
  48.3016304348%, 48.6403043478% {
    content: "le";
  }
  /* string 2, char 27 */
  48.6413043478%, 48.9799782609% {
    content: "l";
  }
  /* string 2, char 28 */
  48.9809782609%, 55.7734565217% {
    content: "";
  }
  /* string 3, char 1 */
  55.7744565217%, 56.3169347826% {
    content: "s";
  }
  /* string 3, char 2 */
  56.3179347826%, 56.8604130435% {
    content: "se";
  }
  /* string 3, char 3 */
  56.8614130435%, 57.4038913043% {
    content: "sen";
  }
  /* string 3, char 4 */
  57.4048913043%, 57.9473695652% {
    content: "seni";
  }
  /* string 3, char 5 */
  57.9483695652%, 58.4908478261% {
    content: "senio";
  }
  /* string 3, char 6 */
  58.4918478261%, 59.034326087% {
    content: "senior";
  }
  /* string 3, char 7 */
  59.035326087%, 59.5778043478% {
    content: "senior ";
  }
  /* string 3, char 8 */
  59.5788043478%, 60.1212826087% {
    content: "senior f";
  }
  /* string 3, char 9 */
  60.1222826087%, 60.6647608696% {
    content: "senior fu";
  }
  /* string 3, char 10 */
  60.6657608696%, 61.2082391304% {
    content: "senior ful";
  }
  /* string 3, char 11 */
  61.2092391304%, 61.7517173913% {
    content: "senior full";
  }
  /* string 3, char 12 */
  61.7527173913%, 62.2951956522% {
    content: "senior full-";
  }
  /* string 3, char 13 */
  62.2961956522%, 62.838673913% {
    content: "senior full-s";
  }
  /* string 3, char 14 */
  62.839673913%, 63.3821521739% {
    content: "senior full-st";
  }
  /* string 3, char 15 */
  63.3831521739%, 63.9256304348% {
    content: "senior full-sta";
  }
  /* string 3, char 16 */
  63.9266304348%, 64.4691086957% {
    content: "senior full-stac";
  }
  /* string 3, char 17 */
  64.4701086957%, 65.0125869565% {
    content: "senior full-stack";
  }
  /* string 3, char 18 */
  65.0135869565%, 65.5560652174% {
    content: "senior full-stack ";
  }
  /* string 3, char 19 */
  65.5570652174%, 66.0995434783% {
    content: "senior full-stack d";
  }
  /* string 3, char 20 */
  66.1005434783%, 66.6430217391% {
    content: "senior full-stack de";
  }
  /* string 3, char 21 */
  66.6440217391%, 67.1865% {
    content: "senior full-stack dev";
  }
  /* string 3, char 22 */
  67.1875%, 67.7299782609% {
    content: "senior full-stack deve";
  }
  /* string 3, char 23 */
  67.7309782609%, 68.2734565217% {
    content: "senior full-stack devel";
  }
  /* string 3, char 24 */
  68.2744565217%, 68.8169347826% {
    content: "senior full-stack develo";
  }
  /* string 3, char 25 */
  68.8179347826%, 69.3604130435% {
    content: "senior full-stack develop";
  }
  /* string 3, char 26 */
  69.3614130435%, 69.9038913043% {
    content: "senior full-stack develope";
  }
  /* string 3, char 27 */
  69.9048913043%, 84.374% {
    content: "senior full-stack developer";
  }
  /* string 3, char 28 */
  84.375%, 84.713673913% {
    content: "senior full-stack develope";
  }
  /* string 3, char 29 */
  84.714673913%, 85.0533478261% {
    content: "senior full-stack develop";
  }
  /* string 3, char 30 */
  85.0543478261%, 85.3930217391% {
    content: "senior full-stack develo";
  }
  /* string 3, char 31 */
  85.3940217391%, 85.7326956522% {
    content: "senior full-stack devel";
  }
  /* string 3, char 32 */
  85.7336956522%, 86.0723695652% {
    content: "senior full-stack deve";
  }
  /* string 3, char 33 */
  86.0733695652%, 86.4120434783% {
    content: "senior full-stack dev";
  }
  /* string 3, char 34 */
  86.4130434783%, 86.7517173913% {
    content: "senior full-stack de";
  }
  /* string 3, char 35 */
  86.7527173913%, 87.0913913043% {
    content: "senior full-stack d";
  }
  /* string 3, char 36 */
  87.0923913043%, 87.4310652174% {
    content: "senior full-stack ";
  }
  /* string 3, char 37 */
  87.4320652174%, 87.7707391304% {
    content: "senior full-stack";
  }
  /* string 3, char 38 */
  87.7717391304%, 88.1104130435% {
    content: "senior full-stac";
  }
  /* string 3, char 39 */
  88.1114130435%, 88.4500869565% {
    content: "senior full-sta";
  }
  /* string 3, char 40 */
  88.4510869565%, 88.7897608696% {
    content: "senior full-st";
  }
  /* string 3, char 41 */
  88.7907608696%, 89.1294347826% {
    content: "senior full-s";
  }
  /* string 3, char 42 */
  89.1304347826%, 89.4691086957% {
    content: "senior full-";
  }
  /* string 3, char 43 */
  89.4701086957%, 89.8087826087% {
    content: "senior full";
  }
  /* string 3, char 44 */
  89.8097826087%, 90.1484565217% {
    content: "senior ful";
  }
  /* string 3, char 45 */
  90.1494565217%, 90.4881304348% {
    content: "senior fu";
  }
  /* string 3, char 46 */
  90.4891304348%, 90.8278043478% {
    content: "senior f";
  }
  /* string 3, char 47 */
  90.8288043478%, 91.1674782609% {
    content: "senior ";
  }
  /* string 3, char 48 */
  91.1684782609%, 91.5071521739% {
    content: "senior";
  }
  /* string 3, char 49 */
  91.5081521739%, 91.846826087% {
    content: "senio";
  }
  /* string 3, char 50 */
  91.847826087%, 92.1865% {
    content: "seni";
  }
  /* string 3, char 51 */
  92.1875%, 92.526173913% {
    content: "sen";
  }
  /* string 3, char 52 */
  92.527173913%, 92.8658478261% {
    content: "se";
  }
  /* string 3, char 53 */
  92.8668478261%, 93.2055217391% {
    content: "s";
  }
  /* string 3, char 54 */
  93.2065217391%, 100% {
    content: "";
  }
}
@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
* {
  backface-visibility: hidden;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: radial-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #000, #000 2px, #111 3px);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover, 100% 3px;
  font-size: calc(10px + 2vw);
  font-family: "Press Start 2P", cursive !important;
  color: #3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::after {
  content: "";
  position: relative;
  top: -13px;
  display: inline-block;
  padding-right: 3px;
  padding-right: calc(3px + 0.1vw);
  border-right: 10px solid rgba(51, 255, 51, 0.75);
  border-right: calc(1.1vw + 4px) solid rgba(51, 255, 51, 0.75);
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
  white-space: nowrap;
  animation: typed 14.72s linear 1s infinite, beam-blink 1s infinite;
}
@media (max-width: 575px) {
  body::after {
    top: -33px;
  }
}
body::before {
  content: "3 strings / 44 chars / 14.72s duration";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3px 0;
  background: #00f;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.7px;
  white-space: pre-wrap;
}
@media (max-width: 575px) {
  body::before {
    content: "3 strings \a 44 chars \a 14.72s duration";
  }
}

/*# sourceMappingURL=typewriter.css.map */
