/* navigation */

.lmpixels-arrows-nav {
  position: absolute;
  padding: 10px 0;
  width: 70px;
  /* right: -72px; */
  left: 0;
  list-style: none;
  bottom: 0;
  z-index: 999;
}
.lmpixels-arrows-nav div {
  display: block;
  position: relative;
  text-align: center;
  color: #9baab3;
  padding: 10px;
  font-size: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.lmpixels-arrows-nav div:hover {
  color: #0099e5;
  cursor: pointer;
}