.btn-primary,
.btn-secondary,
button,
input[type="button"],
input[type="submit"],
.wp-block-button .wp-block-button__link {
  display: inline-block;
  position: relative;
  padding: 0.8em 2.1em;
  margin-bottom: 0.75em;
  margin-right: 0.25em;
  font-size: 1em;
  line-height: 1.2;
  border: 0;
  outline: 0;
  border: 2px solid #0099e5;
  color: #fff;
  text-shadow: none;
  background-color: #0099e5;
  border-radius: 6px;
  cursor: pointer;
  font-family: poppins, Helvetica, sans-serif;
  box-shadow: 0 10px 10px -8px rgba(80, 90, 96, 0.33);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-primary:last-child,
.btn-secondary:last-child,
button:last-child,
input[type="button"]:last-child,
input[type="submit"]:last-child,
.wp-block-button .wp-block-button__link:last-child {
  margin-right: 0;
}
.btn-primary:hover,
.btn-primary:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #fff;
  color: #111;
  border: 2px solid #0099e5;
}
.btn-secondary {
  border-color: #9baab3;
  background-color: #fff;
  box-shadow: 0 10px 10px -8px rgba(80, 90, 96, 0.33);
  color: #666;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  border-color: #9baab3;
  background-color: #9baab3;
}
button.mfp-close:hover,
button.mfp-close:visited,
button.mfp-close:focus,
button.mfp-arrow:hover,
button.mfp-arrow:visited,
button.mfp-arrow:focus {
  border: 0;
}