.title-thin {
  font-family: 'GT Walsheim thin' !important;
  color: black;
  /* bold */
  /*font-weight: 700;*/
  font-size: 100px;
}
.title-normal {
  font-family: 'GT Walsheim normal' !important;
  color: black;
  /* normal */
  /*font-weight: 400;*/
  font-size: 100px;
}
.title-bold {
  font-family: 'GT Walsheim bold' !important;
  color: black;
  /* light */
  /*font-weight: 200;*/
  font-size: 110px;
  letter-spacing: -3px;
}
.title-extra {
  font-family: 'GT Walsheim extra' !important;
  color: black;
  /* extra */
  /*font-weight: 900;*/
  font-size: 100px;
}